@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.transition {
    transition: all .15s ease-in-out;
}

.child-transition * {
    transition: all .15s ease-in-out;
}